.publications {
    padding: 20px;
}

.publication-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ffe8c5;
    max-width: 800px;
    width: 100%;
}

.publication-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
}

.publication-info {
    display: flex;
    flex-direction: column;
}

.publication-info h3 {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.publication-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
}